.video-page {
  display: flex;
}

.sidebar {
  width: 250px; /* Fixed width for the sidebar */
  padding: 20px;
  /* background-color: #f4f4f4; */
   background-color: #53c959; 
  border-right: 1px solid #ddd;
}

.video-container {
  flex: 1; /* Take remaining space */
  padding: 20px;
}

.video-item {
  margin-bottom: 20px; /* Space between videos */
  text-align: center; /* Center the text for the button */
}

video {
  width: 100%; /* Responsive width */
  max-width: 800px; /* Max width for videos */
  height: auto; /* Maintain aspect ratio */
}

.download-button {
  display: inline-block; /* Align button properly */
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.download-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.subject-label {
  display: block; /* Make labels block level */
  width: 100%; /* Full width labels */
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 23px;
  color: #030303;
  cursor: pointer;
  text-align: left; /* Align text to the left */
}

.subject-label.active, .subject-label:hover {
  color: #f2f4f7; /* Darker shade for active labels */
}
